.App {
    text-align: center;
    transform: translate(0,50%);
}
td {
    width: 100px;
    height: 100px;
}
table {
    margin: 5px auto;
}
td{
    border: 2px solid black;
    transition: all .2s ease-in-out;
}
.red{
    background-color: #e95184f3;
}
.green{
    background-color: #54e2a7f3;
}
.blue{
    background-color: #67bbe2f3;
}